<div class="card shadow-sm border-primary">
    <div class="card-header bg-primary text-white fw-bold text-center">
        THÔNG TIN NHẬP KHO
    </div>
</div>
<br>

<div class="mx-auto" style="max-width: 750px">
    <div class="border border-dark p-3 mb-3 bg-primary bg-opacity-25">

        <div class="row mb-2 align-items-center">
            <div class="col-5">
                <label for="ngay_sx" class="form-label fw-bold mb-0"> Ngày sản xuất: </label>
            </div>
            <div class="col-7">
                <input type="date" id="ngay_sx" name="ngay_sx" class="form-control " />
            </div>
        </div>

        <div class="row mb-2 align-items-center">
            <div class="col-5">
                <label for="ma_sp" class="form-label fw-bold mb-0"> Mã Sản Phẩm: </label>
            </div>
            <div class="col-7">
                <select id="ma_sp" name="ma_sp" class="form-select form-select-sm">
                    <option>Mã 1</option>
                    <option>Mã 2</option>
                    <option>Mã 3</option>
                    <option>Mã 4</option>
                </select>
            </div>
        </div>

        <div class="row mb-2 align-items-center">
            <div class="col-5">
                <label for="ten_sp" class="form-label fw-bold mb-0"> Tên Sản Phẩm: </label>
            </div>
            <div class="col-7">
                <input type="text" id="ten_sp" name="ten_sp" class="form-control " />
            </div>
        </div>

        <div class="row mb-2 align-items-center">
            <div class="col-5">
                <label for="ca_sx" class="form-label fw-bold mb-0"> Ca Sản Xuất </label>
            </div>
            <div class="col-7">
                <select id="ca_sx" name="ca_sx" class="form-select form-select-sm">
                    <option>Ca 1</option>
                    <option>Ca 2</option>
                    <option>Ca 3</option>
                    <option>Ca 4</option>
                </select>
            </div>
        </div>

        <div class="row mb-2 align-items-center">
            <div class="col-5">
                <label for="day_chuyen" class="form-label fw-bold mb-0"> Lựa chọn dây chuyền: </label>
            </div>
            <div class="col-7">
                <select id="day_chuyen" name="day_chuyen" class="form-select form-select-sm">
                    <option>Line 1</option>
                    <option>Line 2</option>
                    <option>Line 3</option>
                    <option>Line 4</option>
                </select>
            </div>
        </div>

        <div class="row mb-2 align-items-center">
            <div class="col-5">
                <label for="san_luong" class="form-label fw-bold mb-0"> Sản Lượng Thực: </label>
            </div>
            <div class="col-7">
                <input type="text" id="san_luong" name="san_luong" class="form-control " />
            </div>
        </div>
        

    </div>
</div>



