@* _ShiftSetting.cshtml *@

<div class="card shadow-sm border-primary">
    <div class="card-header bg-primary text-white fw-bold text-center">
        CÀI ĐẶT CA SẢN XUẤT
    </div>
</div>
</br>
<form>
    <div class="mx-auto" style="max-width: 1000px">
        <div class="border border-dark p-3 mb-3 bg-primary bg-opacity-25 pt-3">
            <!-- CA 1 -->
            <fieldset class="border border-3 border-dark p-3 mb-4 rounded">
                <legend class="w-auto px-2 fw-bold">Ca 1</legend>

                <div class="row mb-3 align-items-center">
                    <div class="col-md-5">
                        <label class="form-label">Thời gian bắt đầu</label>
                    </div>
                    <div class="col-md-2">
                        <select class="form-select">
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                        </select>
                    </div>
                    <div class="col-md-1">Giờ</div>
                    <div class="col-md-2">
                        <select class="form-select">
                            <option>00</option>
                            <option selected>30</option>
                        </select>
                    </div>
                    <div class="col-md-1">Phút</div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-5">
                        <label for="Ma_truong_ca1" class="form-label">Mã trưởng ca</label>
                    </div>
                    <div class="col-md-7">
                        <select id="Ma_truong_ca1" name="Ma_truong_ca1" class="form-select" >
                            <option>[Chọn Trưởng Ca]</option>
                            <option>TC01</option>
                            <option>TC02</option>
                        </select>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-5">
                        <label for="truong_ca1" class="form-label">Trưởng ca</label>
                    </div>
                    <div class="col-md-7">
                        <input id="truong_ca1" name="truong_ca1" class="form-control" placeholder="Nhập tên trưởng ca"/>
                    </div>
                </div>
            </fieldset>

            <!-- CA 2 -->
            <fieldset class="border border-3 border-dark p-3 mb-4 rounded">
                <legend class="w-auto px-2 fw-bold">Ca 2</legend>

                <div class="row mb-3 align-items-center">
                    <div class="col-md-5">
                        <label class="form-label">Thời gian bắt đầu</label>
                    </div>
                    <div class="col-md-2">
                        <select class="form-select">
                            <option>13</option>
                            <option>14</option>
                            <option>15</option>
                        </select>
                    </div>
                    <div class="col-md-1">Giờ</div>
                    <div class="col-md-2">
                        <select class="form-select">
                            <option>00</option>
                            <option selected>30</option>
                        </select>
                    </div>
                    <div class="col-md-1">Phút</div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-5">
                        <label for="Ma_truong_ca2" class="form-label">Mã trưởng ca</label>
                    </div>
                    <div class="col-md-7">
                        <select id="Ma_truong_ca2" name="Ma_truong_ca2" class="form-select">
                            <option>[Chọn Trưởng Ca]</option>
                            <option>TC01</option>
                            <option>TC02</option>
                        </select>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-5">
                        <label for="truong_ca2" class="form-label">Trưởng ca</label>
                    </div>
                    <div class="col-md-7">
                        <input id="truong_ca2" name="truong_ca2" class="form-control" placeholder="Nhập tên trưởng ca" />
                    </div>
                </div>
            </fieldset>

            <!-- CA 3 -->
            <fieldset class="border border-3 border-dark p-3 mb-4 rounded">
                <legend class="w-auto px-2 fw-bold">Ca 3</legend>

                <div class="row mb-3 align-items-center">
                    <div class="col-md-5">
                        <label class="form-label">Thời gian bắt đầu</label>
                    </div>
                    <div class="col-md-2">
                        <select class="form-select">
                            <option>22</option>
                            <option>23</option>
                            <option>24</option>
                        </select>
                    </div>
                    <div class="col-md-1">Giờ</div>
                    <div class="col-md-2">
                        <select class="form-select">
                            <option>00</option>
                            <option selected>30</option>
                        </select>
                    </div>
                    <div class="col-md-1">Phút</div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-5">
                        <label for="Ma_truong_ca3" class="form-label">Mã trưởng ca</label>
                    </div>
                    <div class="col-md-7">
                        <select id="Ma_truong_ca3" name="Ma_truong_ca3" class="form-select">
                            <option>[Chọn Trưởng Ca]</option>
                            <option>TC01</option>
                            <option>TC02</option>
                        </select>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-5">
                        <label for="truong_ca3" class="form-label">Trưởng ca</label>
                    </div>
                    <div class="col-md-7">
                        <input id="truong_ca3" name="truong_ca3" class="form-control" placeholder="Nhập tên trưởng ca" />
                    </div>
                </div>
            </fieldset>

            <!-- BUTTON -->
            <div class="text-center">
                <button type="button" class="btn btn-primary px-4 me-5">
                    Xác nhận
                </button>
                <button type="button" class="btn btn-danger px-4">
                    Hủy
                </button>
            </div>
        </div>
    </div>
    

</form>
